@{
    ViewBag.Title = "About";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h2>Health Analyser - Analyse your Health with Chart JS</h2>
        </div>
     </section>
}  


<hgroup class="title">
    <h2>@ViewBag.Title</h2>   
</hgroup>
<br />
<article>
    <p>
        Designed and Developed by Ranjan Dailata
    </p>
    <br />
    <p> 
        Portal used to Analyse the Patient or Person's Health Information. It's all about Health Analytics.
    </p>
</article>

<script src="http://platform.fatsecret.com/js?key=b5de35dde60c4e11b873a712544cb6ff&amp;auto_load=false"></script>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

